@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.restaurant-header{
  
    /* min-height: 70vh; */
    background-image: linear-gradient(transparent, gray 99%),url("/Header.gif");
    background-attachment: fixed;
    
    /* background-image: linear-gradient(transparent, gray 90% ), url("/RestaurantsPage.jpg");
    background-blend-mode: soft-light; */
  
}
#Gradient-bg,body {
  background-color: #FCFCFC;
  background-image: linear-gradient(
      to bottom,
      rgba(244, 103, 57, 0.3) 10%, 
      #FCFCFC 90%
  );
  background-repeat: no-repeat;
}

footer {
  background-color: #FCFCFC;
  background-image: linear-gradient(
      to top,
      rgba(244, 103, 57, 0.3) 10%, 
      #FCFCFC 90%
  );
  background-repeat: no-repeat;
}

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*/