@tailwind base;
@tailwind components;
@tailwind utilities;

BODY {
  background-color: #FCFCFC;
  background-image: linear-gradient(
      to top,
      rgba(244, 103, 57, 0.3) 10%, 
      #FCFCFC 90%
  );
  background-repeat: no-repeat;
}
